/*
 * Styles des éléments HTML
 */
*
{
    box-sizing: border-box;
}

a
{
    color: #c59d5f;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.25s!;
}
a:hover
{
    color: #c59d5f;
}

body
{
    /* structure */

    /* presentation */
    font-family: 'Karla', sans-serif;
}

nav{
  background-color: #fff;
}

nav section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

cite{
  text-align: center;
  padding: 40px auto;
  font-size: 2.5em;
  font-family: 'Raleway', sans-serif;
}

.img-resp{
  width: 100%;
}

fieldset
{
    /* structure */
    margin-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;

    /* presentation */
    border-color: #1E593B;
    border-radius: 6px;
}
fieldset legend
{
    /* structure */
    padding: 0 0.5em;

    /* presentation */
    color: #1E593B;
    font-weight: bold;
}

footer{
    /* presentation */
    background-image: url(../images/bg-footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: #fff;
    border-top: 3px solid #c59d5f;

}
footer section{
  display: flex;
  justify-content: space-around;
}

footer section div.map-footer{
  padding-top: 20px;
}

.colum{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.mb20{
    margin-bottom: 20px;
}

h1
{

    font-family: 'Oleo Script Swash Caps', cursive;
    letter-spacing: 0.15em;
    text-align: center;
}
h1 a,
h1 a:hover
{
    color: inherit;
}
h1 img
{
    margin-right: 0.5em;
    vertical-align: middle;
}

h2
{
    /* structure */
    margin: 1.5em 0;

    /* presentation */
    color: #1E593B;
}

html
{
    background: url('../images/background.png') repeat;
    overflow-y: scroll;
}


/*
 * Classes génériques
 */

.content {
    max-width: 1100px;
    width: 80%;
    padding: 15px 30px;
    margin: 0 auto;
}

.hidden
{
    display: none;
}

.large
{
    font-size: 125%;
    vertical-align: bottom;
}

.layout-center
{
    text-align: center;
}

.layout-right
{
    bottom: 0;
    position: absolute;
    right: 0;
}

.menu-top{
  display: flex;
}

.row {
    margin-right: -15px;
    margin-left: -15px;
}

.box {
    position: relative;
    border-radius: 0px;
    background: #ffffff;
    border-top: 3px solid #c59d5f;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-header .with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

.form-group {
    margin-bottom: 15px;
}
.form-horizontal .form-group {
    margin-right: -15px;
    margin-left: -15px;
}
.form-control {
    border-radius: 0!important;
    box-shadow: none!important;
    border-color: #d2d6de!important;
}
.nav-tabs-custom {
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
}
.nav-tabs-custom .nav-tabs {
    margin: 0;
    border-bottom-color: #f4f4f4;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.nav-tabs-custom, .tab-content {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-tabs-custom .nav-tabs li:first-of-type {
    margin-left: 0;
}

.nav-tabs-custom .nav-tabs li {
    border-top: 3px solid transparent;
    margin-bottom: -2px;
    margin-right: 5px;
}

.nav-tabs-custom .nav-tabs li.active {
    border-top-color: #c59d5f;
}
.nav-tabs li.active a, .nav-tabs li.active a:focus, .nav-tabs li.active a:hover {
    border-radius: 0!important;
}
img {
    vertical-align: middle;
}

.img-circle {
    border-radius: 50%;
}

.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
}

.text-center {
    text-align: center;
}
.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.link-list,
.generic-form ul
{
    /* structure */
    padding-left: 0;
    position: relative;

    /* presentation */
    list-style-type: none;
}
.link-list li
{
    display: inline-block;
}

.small
{
    font-size: 75%;
    vertical-align: bottom;
    text-align: center;
}



/*
 * CSS de l'interface utilisateur
 */
 .profile-user-img {
    margin: 0 auto;
    width: 100px;
    padding: 3px;
    border: 3px solid #d2d6de;
}

.profile-username {
    font-size: 21px;
    margin-top: 5px;
}



 .dropdown-menu{
    top: 185%!important;
     border-top-right-radius: 0!important;
     border-top-left-radius: 0!important;
     padding: 0px 0 15px!important;
     border-top-width: 0!important;
     width: 280px;
     right: 0;
     left: auto !important;
 }

.user-body{
  padding: 15px;
}

.user-interface
{
    margin-bottom: 3em;
    margin-top: 3em;
}

.img-circle {
    border-radius: 50%;
}
.user-header{
  text-align: center;
}
.user-header p{
z-index: 5;
    color: #fff;
    color: rgba(255,255,255,0.8);
    font-size: 17px;
    margin-top: 10px;
  }

small{
  font-size: 65%!important;
}

.user-footer{
    display: flex;
    justify-content: space-around;
}

.user-menu .user-image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: -2px;
  }
.skin-blue, .main-header, .user-header {
    background-color: #c59d5f;
}
.navbar-nav>.user-menu>.dropdown-menu>.user-body {
    padding: 15px;
    border-bottom: 1px solid #f4f4f4;
    border-top: 1px solid #dddddd;
}



.img-drpo{
  margin-top: 20px;
  z-index: 5;
  height: 90px;
  width: 90px;
  border: 3px solid;
  border-color: transparent;
  border-color: rgba(255,255,255,0.2);
}
/*
 * CSS de bouton
 */
 .btn {
    display: inline-block;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    padding: 6px 12px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
    border-radius: 4px;
}

.btn-block {
    display: block;
    width: 100%;
}

.btn {
    box-shadow: none;
    border-radius: 3px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.btn-facebook {
    color: rgb(255, 255, 255);
    background-color: rgb(59, 89, 152);
    border-color: rgba(0, 0, 0, 0.2);
}

.btn.btn-flat {
    box-shadow: none;
    border-radius: 0px;
    border-width: 1px;
}

.btn-social :first-child {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    width: 32px;
    line-height: 34px;
    font-size: 1.6em;
    text-align: center;
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.fa {
    display: inline-block;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font: normal normal normal normal normal normal 1 FontAwesome;
}


/*
 * CSS du registre
 */

 .register-box {
     width: 360px;
     margin: 2% auto;
 }

 .register-logo {
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
}

.register-box-body {
    color: rgb(102, 102, 102);
    background: rgb(255, 255, 255);
    padding: 20px;
    border-top: 0px;
}

.login-box-msg{
    text-align: center;
    margin: 0px;
    padding: 0px 20px 20px;
}
/*
 * CSS page Profile
 */
   /*
    * CSS page timeline
    */
 .timeline:before {
     content: '';
     position: absolute;
     top: 0;
     bottom: 0;
     width: 4px;
     background: #ddd;
     left: 31px;
     margin: 0;
     border-radius: 2px;
 }
 .timeline li {
     position: relative;
     margin-right: 10px;
     margin-bottom: 15px;
 }
 .timeline-inverse>li>.timeline-item {
    background: #f0f0f0;
    border: 1px solid #ddd;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.timeline>li>.timeline-item {
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    margin-top: 0;
    background: #fff;
    color: #444;
    margin-left: 60px;
    margin-right: 15px;
    padding: 0;
    position: relative;
}
ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
}

/*
 * CSS des tableaux listant des aliments
 */
.meal-list img
{
    border-radius: 4px;
    opacity: 0.8;
    transition: opacity 0.25s;
    vertical-align: middle;
}
.meal-list img + em
{
    margin-left: 1em;
}
.meal-list p
{
    text-align: justify;
}
.meal-list tr:hover img
{
    opacity: 1;
}

/*
 * CSS de la page d'accueil
 */
 .about-detail .chef-detail i img {
     border-radius: 100%;
 }

 .about-detail .chef-detail i, .about-detail .chef-detail span, .about-detail .chef-detail .cnt {
    display: inline-block;
  }

.about-img-block div {
    margin-bottom: 30px;
    text-align: right;
    width: 80%;
}

.section-header h3 {
    color: #c59d5f;
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    line-height: 84px;
    letter-spacing: 2.6px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    text-transform: capitalize;
}

.section-header h4 {
    color: #222222;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    font-weight: 700;
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 40px;
}




.section-commandes h3 {
    color: #fff;
    font-family: 'Great Vibes', cursive;
    font-size: 65px;
    line-height: 84px;
    letter-spacing: 2.6px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    text-transform: capitalize;
}


.surprise-content{
    background-image: url(http://lolthemes.com/demo/wpm/maxrestaurant/wp-content/uploads/2017/01/surprise-sec-bg.jpg);
    background-position: center;
    background-repeat: none;
    background-size: cover;
}

.surprise-content-over {
    background-color: rgba(34,34,34,0.6);
    width: 100%;
    height:100%;
    content: "";

}

.suprise-content-img{
  padding-top: 50px;
  padding-bottom: 50px;
}

.surprise-content h3::before {
    background-image: url(../images/section-header-sep.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    display: inline-block;
    content: "";
    bottom: 0px;
    left: 0;
    right: 0;
    position: absolute;
    height: 24px;
}

.services-section .srv-box .img-box {
    display: inline-block;
    width: 100%;
    border: 1px solid #c59d5f;
    position: relative;
    overflow: hidden;
    margin-bottom: 4px;
}

.bloc-nl{
  background-image: url('../images/newsletter-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  padding: 20px 0;
}

.section-header {
    margin-bottom: 60px;
    padding-bottom: 27px;
    position: relative;
}

.section-header::before {
    background-image: url(../images/section-header-sep.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    display: inline-block;
    content: "";
    bottom: 0px;
    left: 0;
    right: 0;
    position: absolute;
    height: 24px;
}
.services-section {
    padding-top: 100px;
    padding-bottom: 70px;
}

/*
 * CSS de la page Menu
 */

.page-menu{
  padding: 80px 0;
}

.menu-item .item-thumb i img {
    border-radius: 100%;
    border: 1px solid #c59d5f;
}

.menu-item {
    display: flex;
    padding: 10px;
    width: 100%;
    min-height: 89px;
}

.menu-item > h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: bold;
    width: 53%;
    float: left;
    color: #c59d5f;
    margin-left: 15px;
    margin-bottom: 0;
    margin-top: 17px;
    letter-spacing: 0.64px;
    line-height: 26px;
    text-transform: uppercase;
}
.menu-item > span {
    color: #c59d5f;
    float: right;
    width: 28%;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
    margin-top: 10px;
}

.menu-item > span::before {
    border-top: 1px dashed #222222;
    content: "";
    display: inline-block;
    height: 1px;
    width: 58%;
    margin-right: 15px;
    vertical-align: middle;
}

.menu-item > h3 span {
    color: #777777;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.48px;
    text-transform: none;
    display: block;
}
sup {
    font-family: Georgia,Times,Times New Roman,serif;
    font-size: 20px;
    font-weight: bold;
    margin-right: 5px;
}



/*
 * CSS de la page de commande
 */






.basket-empty
{
    color: #339966;
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.meal-details
{
    /* structure */
    margin-right: 3em;
    margin-top: 1em;
    padding: 0.75em;

    /* presentation */
    background-color: #D0FFFF;
    border-radius: 4px;
    border: 1px solid #1E593B;
}
.meal-details:after
{
    clear: left;
    content: ' ';
    display: block;
}
.meal-details img
{
    float: left;
    margin-right: 1em;
}
.meal-details p
{
    /* structure */
    margin-top: 0;

    /* presentation */
    text-align: justify;
}


/*
 * CSS de la page de récapitulatif de la commande
 */
.invoice
{
    /* structure */
    margin: 2em 0 1em 50%;
    padding: 0 1em;

    /* presentation */
    background-color: #D0FFFF;
    border-radius: 4px;
    border: 1px solid #1E593B;
}
.invoice .city
{
    text-transform: uppercase;
}


.i4ewOd-haAclf{
  background-color: #c59d5f!important;
}

.cnt-detail-box {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
}
.contacte-detail-box {
    text-align: center;
    display: inline-block;
    width: 100%;
    position: relative;
}


@media (min-width: 1200px){
.cnt-detail-box {
    padding: 0 25%;
}
}

.cnt-detail-box::after {
    border-left: 2px dashed #c59d5f;
    content: "";
    position: absolute;
    left: -1px;
    bottom: 30px;
    height: 60px;
    width: 3px;
}

.img-menu{
  max-width: 84px!important;
  max-height: 84px;
}
